<h1>Edit A Picture</h1>

<form action="http://localhost:3000/update_picture/<%=@id%>">
  <div>
    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption" value="<%=@caption%>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source" value="<%=@picture_url%>" size="100">
  </div>
  <div>
    <input type="submit" value="Edit Picture">
  </div>
</form>