<h1>Add A New Picture</h1>

<form action="http://localhost:3000/create_picture">
  <div>
    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source" size="100">
  </div>
  <div>
    <input type="submit" value="Create Picture">
  </div>
</form>